h1 {
    color: rgb(227, 10, 162);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    padding: 2em 1em;
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.sudoku-board {
    display: flex;
    justify-content: center;
}

.sudoku-cell {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #000;
}
#hiddenText {
    display: none;
    font-family: 'Lucida', cursive;
    font-size: 10rem;
    text-align: center;
}

#toggleButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 50px;
}

#toggleButton {
    background-color: #f000ff;
    animation: pulse 1s infinite alternate;
    border-radius: 1px;
    font-family: 'Lucida', cursive;
    font-size: 5rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
        background-color: #dd00ff;
    }
}

body {
    font-family: Arial, sans-serif;
}

.series-container {
    display: flex;
    justify-content: space-between;
}

.series-box {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(312, 78%, 82%);
    background-color: #f7f7f7;
    max-width: 300px;
}

.series-image {
    text-align: center;
}

.series-link {
    color: #8300c0;
    text-decoration: none;
    font-weight: bold;
}

.series-image img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

#myAudio {
    background-color: #ff0088;
    color: #ff00aa;
}

#audioContainer {
    text-align: center;
    margin-top: 30px; /* Hinzugefügt: Einheit (z. B. px) hinzugefügt */
}

#playButton {
    background-color: #ff008c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* Optional: Füge Stile für Zellen mit vorgegebenen Zahlen hinzu */
.sudoku-cell.given {
    background-color: #ddd;
}

