h1 {
    color: rgb(227, 10, 162);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    padding: 2em 1em;
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.sudoku-board {
    display: flex;
    justify-content: center;
}

.sudoku-cell {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    height: 30px;
    gap: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #000;
}
#hiddenText {
    display: none;
    font-family: 'Lucida', cursive;
    font-size: 10rem;
    text-align: center;
}

#toggleButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}

#toggleButton {
    background-color: #ff00bb;
    animation: pulse 1s infinite alternate;
    border-radius: 1px;
    font-family: 'Lucida', cursive;
    font-size: 3rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
        background-color: #f696dc;
    }
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.series-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ändern Sie space-between zu space-around für bessere Anordnung */
}

.series-box {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(312, 78%, 82%);
    background-color: #f7f7f7;
    max-width: 300px;
}

.series-image {
    text-align: center;
}

.series-link {
    color: #8300c0;
    text-decoration: none;
    font-weight: bold;
}

.series-image img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

#myAudio {
    background-color: #ff00bb;
    color: #ff00aa;
}

#audioContainer {
    text-align: center;
    margin-top: 10px; /* Hinzugefügt: Einheit (z. B. px) hinzugefügt */
}

#playButton {
    background-color: #ff00bb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* Optional: Füge Stile für Zellen mit vorgegebenen Zahlen hinzu */
.sudoku-cell.given {
    background-color: #ddd;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 10px;
}

/* Fügen Sie diese Stilregeln in Ihre CSS-Datei ein */

.pink-box {
    background-color: #ff00bb; /* Hintergrundfarbe ändern (rosa) */
    color: white; /* Textfarbe ändern */
    padding: 10px; /* Innenabstand ändern */
    cursor: pointer; /* Zeiger ändern, um anzuzeigen, dass es anklickbar ist */
    border: 1px solid #ff00bb; /* Rand hinzufügen */
    border-radius: 5px; /* Ecken abrunden */
    text-align: center; /* Text in der Mitte ausrichten */
}

.pink-box:hover {
    background-color: #ff00bb; /* Ändern Sie die Hintergrundfarbe im Hover-Zustand */
    border: 1px solid #ff00bb; /* Ändern Sie den Rand im Hover-Zustand */
}


